* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #393939;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.5px;
    display: grid;
    grid-template-rows: 25px 1fr;
}

main {
    grid-row: 2;
    justify-self: center;
    width: 400px;
    display: grid;
    grid-template-rows: 35px 450px 125px auto 35px;
    row-gap: 15px;
}

header {
    grid-row: 1;
    text-align: center;
    padding: 10px;
    color: #FAF7FF;
}

i {
    pointer-events: none;
    text-align: center;
    margin-top: 30px;
}

.active {
    background-color: #393939;
}

/* ------ Race container ------ */
.race-container {
    grid-row: 2;
    padding: 15px;
    border-radius: 25px;
    background: #FAF7FF;
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 1fr;
    column-gap: 15px;
}

.color-1 {
    grid-column: 1;
    background-color: #685465;
    width: 100%;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

.color-2 {
    grid-column: 2;
    background-color: #A96C7B;
    width: 100%;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

.color-3 {
    grid-column: 3;
    background-color: #E38C79;
    width: 100%;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

.color-4 {
    grid-column: 4;
    background-color: #FFBC6C;
    width: 100%;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

/* ------ Race container -> Placement container ------ */
.placement-container {
    grid-column: 5;
    text-align: center;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 10px;
}

.first {
    grid-row: 1;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.first p {
    grid-row: 1;
}

.first--box {
    grid-row: 2;
    width: 50px;
    justify-self: center;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

.second {
    grid-row: 2;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.second p {
    grid-row: 1;
}

.second--box {
    grid-row: 2;
    width: 50px;
    justify-self: center;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

.third {
    grid-row: 3;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.third p {
    grid-row: 1;
}

.third--box {
    grid-row: 2;
    width: 50px;
    justify-self: center;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

.fourth {
    grid-row: 4;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.fourth p {
    grid-row: 1;
}

.fourth--box {
    grid-row: 2;
    width: 50px;
    justify-self: center;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

.score {
    grid-row: 5;
    display: grid;
    grid-template-rows: 1fr 50px;
}

.score p {
    grid-row: 1;
}

.score--box {
    grid-row: 2;
    width: auto;
    border-radius: 10px;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
    text-align: center;
    padding: 10px;
}

/* ------ Select container ------ */
.select-container {
    grid-row: 3;
    padding: 15px;
    border-radius: 25px;
    background: #FAF7FF;
    display: grid;
    grid-template-columns: 50px 50px 100px 50px 50px;
    column-gap: 15px;
    grid-template-rows: 1fr 50px 1fr;
    justify-content: center;
}

.color-1--select {
    grid-row: 2;
    border-radius: 10px;
    background-color:#685465;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
    border: none;
}

.color-2--select {
    grid-row: 2;
    border-radius: 10px;
    background-color:#A96C7B;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
    border: none;
}

.color-3--select {
    grid-row: 2;
    border-radius: 10px;
    background-color:#E38C79;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
    border: none;
}

.color-4--select {
    grid-row: 2;
    border-radius: 10px;
    background-color:#FFBC6C;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
    border: none;
}

.play-button--btn {
    grid-row: 1/4;
    border-radius: 50%;
    border: none;
    font-size: 32px;
    text-align: center;
    color:#eee;
    background-color: #00A97F;
    box-shadow:inset -2px -2px 0px 5px rgba(0,0,0,.25);
}

/* ------ Instruction container ------ */
.instruction-container {
    grid-row: 4;
    padding: 15px;
    border-radius: 25px;
    background: #FAF7FF;
}

footer {
    grid-row: 5;
    color: rgba(250, 247, 255, 0.25);
    font-size: 12px;
    text-align: center;
}

/* ------ @Media queries below 425 px ------ */
@media screen and (orientation: landscape) {
    /* To be added! */
}


/* ------ @Media queries below 425 px ------ */

@media screen and (max-width: 425px) {

    body {
        font-size: 14px;
        grid-template-rows: 0px 1fr;
    }

    main {
    width: auto;
    padding: 15px;
    grid-template-rows: 35px auto 100px auto 35px;
    row-gap: 15px;
    }

    .race-container {
        grid-template-columns: 40px 40px 40px 40px;
    }

    .select-container {
        padding: 5px;
        grid-template-columns: 50px 50px 75px 50px 50px;
        column-gap: 10px;
        grid-template-rows: 1fr 75px 1fr;
    }
    
    .color-1--select {
        height: 50px;
        margin-top: 12.5px;
    }
    
    .color-2--select {
        height: 50px;
        margin-top: 12.5px;
    }
    
    .color-3--select {
        height: 50px;
        margin-top: 12.5px;
    }
    
    .color-4--select {
        height: 50px;
        margin-top: 12.5px;
    }

    i {
        pointer-events: none;
        text-align: center;
        margin-top: 25px;
    }
    
    .play-button--btn {
        grid-row: 2;
        font-size: 24px;
    }
}